body {
  background-color: #d6e0f0;
}

.jumbotron {
  margin-top: 10px;
}

.navbar {
  margin-top: 10px;
}

.about-text {
  background-color: #8d93ab;
  color: #f1f3f8;
  font-size: 56px;
  padding: 5px;
  text-align: center;
}
